:root {
  --font: "Scala W01", "Palatino", "Book Antiqua", serif;
  --font-2: monospace;
  --font-size:  170%;
  --font-size-2: 140%;
  --link-color: rgb(0, 0, 0);
  --link-color-2: rgb(58, 23, 118);
}

html {
  background: url("images/whisper.png") no-repeat 700px 150px;
  background-size: 700px;
  font-family: var(--font);
  font-size: var(--font-size);
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%; /*For mobile Safari inconsistency*/

}



.plaque {
  padding: 1em;
  background-color: rgba(255, 255, 255, .5);
  width: 500px;
  height: 570px;
  display: block;
  border-top: 20px;
  border-right: 5px;
  border-bottom: 5px;
  border-left: 30px;
  border-color: black;
  border-style: solid;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.plaque::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.announcement{
  font-style: italic;
  background-color: bisque;
}

.contact{
  font-family: var(--font-2);
  font-size: var(--font-size-2);
}

a:link {
  color: var(--link-color);
  text-decoration: none;
}

a:visited {
  color: var(--link-color-2);
  text-decoration: none;
}

a:hover {
  color: var(--link-color-2);
  text-decoration: underline;
}

a:active {
  color: var(--link-color-2);
  text-decoration: underline;
}