/* Variables*/
:root {
  --image: url("images/pretty.jpg");

  --font: "Scala W01", "Palatino", "Book Antiqua", serif;
  --font-size: 25px;

  --post-color-opaque: rgba(255, 250, 245, 0.9);
  --post-color-0: rgba(255, 250, 245, 0);
  --post-color-1: rgba(255, 250, 245, 1);
}

/* Page */
html {
  text-rendering: optimizeLegibility;
  font-family: var(--font);
  font-size: var(--font-size);
  background-image: var(--image);
  -webkit-text-size-adjust: 100%; /*For mobile Safari inconsistency*/
}

ul {
  list-style-type: disc;
}

button {
  background-color: #000000; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.3s;
  border-radius: 15px;
}

button:hover {
  background-color: #4CAF50;
  color: white;
}

/* Plaque */
.plaque {
  padding: .3em;
  background-color: var(--post-color-opaque);
  margin: auto;
  width: 500px;
  /*line-height: 1.7;*/
  text-align: left;
  display: block;
}

/* Portrait */
.portrait {
  width: 230px;
  border-radius: 25px;
  margin: auto;
  display: block;
}

/* Links */
a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.download:link {
  color: black;
  text-decoration: underline;
}

.download:visited {
  color: black;
  text-decoration: underline;
}

.download:hover {
  color: grey;
  text-decoration: underline;
}

.download:active {
  color: grey;
  text-decoration: underline;
}
