/* Variables*/
:root {
  --image: url("images/pretty.jpg");
  --font: "Scala W01", "Palatino", "Book Antiqua", serif;
  --font-size:  170%;;
  --font-button: 200%;
  --post-color-opaque: rgba(255, 255, 255, 0.9);
  --post-color-solid: rgb(255, 255, 255);
  --link-color: rgb(58, 23, 118);
}

/* Page */
html {
  text-rendering: optimizeLegibility;
  font-family: var(--font);
  font-size: var(--font-size);
  /*background-image: var(--image);*/
  -webkit-text-size-adjust: 100%; /*For mobile Safari inconsistency*/
}

.announcement{
  font-style: italic;
  background-color: bisque;
}

.contact{
  font-size: var(--font-button);
  font-family: monospace;
}

button {
  background-color: rgb(255, 255, 255);
  border: 5px solid black;
  color: black;
  padding: 12px 40px;
  display: inline;
  font-size: var(--font-button);
  font-family: var(--font);
  transition-duration: .4s;
}

button:hover {
  background-color: rgba(0, 0, 0, 1);
  color: white;
}

/* Plaque */
.plaque {
  padding: .5em;
  background-color: var(--post-color-solid);
  
  /*border: 15px solid black;*/
  width: 500px;
  /*text-align: center;*/
  display: block;
  /*margin: auto;*/

  /*
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  */
}

/* Portrait */
.portrait {
  width: 200px;
  margin: auto;
  display: block;
}

/* Links */
a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-color);
  text-decoration: underline;
}

a:active {
  color: var(--link-color);
  text-decoration: underline;
}

.download:link {
  color: black;
  text-decoration: underline;
}

.download:visited {
  color: var(--link-color);
  text-decoration: underline;
}

.download:hover {
  color: var(--link-color);
  text-decoration: underline;
}

.download:active {
  color: var(--link-color);
  text-decoration: underline;
}