/* Variables*/
:root {
  --image: url("images/pretty.jpg");

  --font: "Scala W01", "Palatino", "Book Antiqua", serif;
  --font-size: 19px;

  --post-color-opaque: rgba(255, 250, 245, 0.9);
  --post-color-0: rgba(255, 250, 245, 0);
  --post-color-1: rgba(255, 250, 245, 1);
}

/* Page */
html {
  text-rendering: optimizeLegibility;
  font-family: var(--font);
  font-size: var(--font-size);
  background-image: var(--image);
  -webkit-text-size-adjust: 100%; /*For mobile Safari inconsistency*/
}

/* Plaque */
.plaque {
  padding: .5em;
  background-color: var(--post-color-opaque);
  margin: auto;
  width: 500px;
  /*line-height: 1.7;*/
  text-align: center;
  display: block;
}

/* Portrait */
.portrait {
  width:250px;
  border-radius: 25px;
  margin: auto;
  display: block;
}

/* Links */
a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.download:link {
  color: black;
  text-decoration: underline;
}

.download:visited {
  color: black;
  text-decoration: underline;
}

.download:hover {
  color: grey;
  text-decoration: underline;
}

.download:active {
  color: grey;
  text-decoration: underline;
}
