/* Variables*/
:root {
  --image: url("images/pretty.jpg");
  --font: "Scala W01", "Palatino", "Book Antiqua", serif;
  --font-size:  170%;;
  --post-color-opaque: rgba(255, 255, 255, 0.9);
  --post-color-solid: rgb(255, 255, 255);
  --link-color: rgb(58, 23, 118);
}

/* Page */
html {
  text-rendering: optimizeLegibility;
  font-family: var(--font);
  font-size: var(--font-size);
  -webkit-text-size-adjust: 100%; /*For mobile Safari inconsistency*/
  overflow: hidden;
  background: url("images/whisper.jpg") no-repeat 720px 170px;
  background-size: 700px
}

body {
  overflow: hidden;
}

/* Plaque */
.plaque {
  padding: 1em;
  background-color: var(--post-color-solid);
  display: block;
  border-top: 30px;
  border-right: 15px;
  border-bottom: 15px;
  border-left: 30px;
  border-color: black;
  border-style:solid;
  width: 500px;
  height: 550px;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  /*text-align: center;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.plaque::-webkit-scrollbar {
  display: none;
}

.fade {
  position: relative;
  overflow: hidden;
}

.fade:after {
  content: "";
  position: absolute;
  text-align: right;
  bottom: 0;
  width: 100%;
  height: 6em; /*length of fade*/
  background: linear-gradient(
    180deg,
    rgb(138, 62, 62),
    red 100%
  );
}

.announcement{
  font-style: italic;
  background-color: bisque;
}

.contact{
  font-size: 100%;
  text-decoration: underline;
}

/* Links */
a:link {
  color: rgb(60, 60, 60);
  text-decoration: none;
}

a:visited {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-color);
  text-decoration: underline;
}

a:active {
  color: var(--link-color);
  text-decoration: underline;
}