/* Variables*/
:root {
  --image: url("images/pretty.jpg");
  --font: "Scala W01", "Palatino", "Book Antiqua", serif;
  --font-size:  170%;;
  --post-color-opaque: rgba(255, 255, 255, 0.9);
  --post-color-solid: rgb(255, 255, 255);
  --link-color: rgb(58, 23, 118);
}

/* Page */
html {
  text-rendering: optimizeLegibility;
  font-family: var(--font);
  font-size: var(--font-size);
  -webkit-text-size-adjust: 100%; /*For mobile Safari inconsistency*/
}

/* Plaque */
.plaque {
  padding: .5em;
  background-color: var(--post-color-solid);
  

  border-top: 30px;
  border-right: 15px;
  border-bottom: 15px;
  border-left: 30px;
  border-color: black;
  border-style:solid;
  width: 500px;
  /*text-align: center;*/
  display: block;
  /*margin: auto;*/

  /*
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  */
}

.announcement{
  font-style: italic;
  background-color: bisque;
}

.contact{
  font-size: 100%;
  text-decoration: underline;
}

/* Links */
a:link {
  color: rgb(60, 60, 60);
  text-decoration: none;
}

a:visited {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-color);
  text-decoration: underline;
}

a:active {
  color: var(--link-color);
  text-decoration: underline;
}