/* Variables*/
:root {
  --image: url("images/pretty.jpg");
  --font: "Scala W01", "Palatino", "Book Antiqua", serif;
  --font-size: 24px;
  --post-color-opaque: rgba(255, 250, 245, 0.9);
}

/* Page */
html {
  text-rendering: optimizeLegibility;
  font-family: var(--font);
  font-size: var(--font-size);
  background-image: var(--image);
  -webkit-text-size-adjust: 100%; /*For mobile Safari inconsistency*/
}

ul {
  list-style-type: disc;
}

button {
  background-color: rgba(255, 250, 245, 1);
  border: 2px solid black;
  color: black;
  padding: 12px 40px;
  display: inline;
  font-size: 20px;
  transition-duration: 0.4s;
}

button:hover {
  background-color: rgba(0, 0, 0, 1);
  color: white;
}

/* Plaque */
.plaque {
  padding: .5em;
  background-color: var(--post-color-opaque);
  margin: auto;
  border: #000000;
  border-radius: 10px;
  width: 500px;
  /*line-height: 1.7;*/
  text-align: center;
  display: block;
}

/* Portrait */
.portrait {
  width: 230px;
  border-radius: 25px;
  margin: auto;
  display: block;
}

/* Links */
a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

/*
a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.download:link {
  color: black;
  text-decoration: underline;
}

.download:visited {
  color: black;
  text-decoration: underline;
}

.download:hover {
  color: grey;
  text-decoration: underline;
}

.download:active {
  color: grey;
  text-decoration: underline;
}
*/